*{
    margin:0;
    padding:0;
    font-family:"Trebuchet MS" ;
 }
 /*nav bar*/

.menu{
    background-color:white ;
    position: fixed;
    width: 100%;
    height: 73px;
   top:0;
   z-index: 9;
}
.menu ul{
    display: inline-flex;
    margin-left: 20%;
}
.menu ul li{
list-style: none;
margin:0 10px;
color:black;
cursor: pointer;
font-size: larger;
margin-top: 20%;
}
.home span{
    display: block;
    color: black;

}
.blog span {
    
    text-decoration: none;

}
.join-btn{
    text-align: center;
    position: absolute;
    text-decoration: none;
    color:black;
    border: 1.9px solid black;
    border-radius: 20px;
    background-image: black;
    background-origin: border-box;
    background-clip: content-box, border-box;
    right: 20%;
    top:20%;
    cursor: pointer;
    
}

.join-btn span {
    display:block;
    padding:8px 22px; 
}

 .column{
     float:left;
     width: 50%;
     height: 100%;
     background-repeat:no-repeat;
     text-align: center;
     background-attachment: scroll;
 }

 .row{
     width: 100%;
     height: 420px;
 }
 .row:after{
     clear: both;
 }
 @media screen and (max-width: 1200px) {
    .column {
      width: 100%;
    }
  }


.aixblog{
   margin-top:90px;
   
}

.button:hover{
    transition: .4s;
    color:#ca8b02;
}
.join:hover{
    transition: .3s;
    background-color:black;
    color:white;
}
.join-btn:hover{
    transition: .3s;
    color: white;
    background-color: black;
}
.bold{
    font-weight:900;
}
.footer{
    background-color: #FFC15E;
    width:100%;
    min-height: 400px; 
    background-attachment: scroll;
    scroll-margin-top: 120px;
    
}
.footer-banner {
    font-size: 30px;
    text-align: center;
   
}
.footer-banner h1{
top: 30%;
}
.empty{
    width: 100%;
    height: 100px;
    background-color:  #FFC15E;
}
.powered p{
    font-size:15px;
    padding-top: 100px;
}
.by{
    text-align: center;
    padding: 30px;
}
.footer-button{
    text-align: center;
    position: absolute;
    text-decoration: none;
    color:black;
    border: 1.9px solid black;
    border-radius: 20px;
    margin-left: 47%;
    margin-top:30px;
    cursor: pointer;
    font-size: 20px;
    padding:6px 23px;
    font-size: 20px;
}
.footer-button span{
    display:block;
    padding:8px 30px;
}
.footer-button:hover{
    transition: .3s;
    background-color:black;
    color:white;
}
a:link{
    color: inherit;
    text-decoration:none;
}

a:visited {
    color: inherit;
  }